*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face
{
    font-family: valorax;
    src: url(./valorax-lg25v.otf);
}

@font-face
{
    font-family: poppins;
    src: url(./Poppins/Poppins-Bold.ttf);
}

.game_board
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-content: center; */
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game_container {
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 44, 1);
    border: 1px solid #c77dff;
    border-radius: 20px;
    overflow: auto;
  }